
.expo-back-out{
    width: 100%;
    height: 80vh;
    background: url(../img/expo-back.png);
    background-position: -160% -50%;
    background-repeat: no-repeat;
    background-size: 95% auto;
    position:absolute;
}


.expo-front-out{
    width: 90%;
    height: 90%;
    background: url(../img/expo-front.png);
    background-position: 75% 55%;
    background-repeat: no-repeat;
    background-size: 35% auto;
    position: absolute;
    z-index: 0;
}


.day{

    /*position:absolute;*/
    margin-top:-20vh
}

.product-grid{
    margin-bottom: 8px !important;
    padding: 0px 4px !important;
}

.product-card{
    margin-top:8px;
    padding: 0 4px;
}

.product-card__item{
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 280px;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-card__text{

    margin-top:60px;

}

.product-card:hover .product-card__text{
   transform:translateY(-80px);
    transition:all 200ms linear;
}


@media(max-width:768px){


    .expo-back-out{
        width: 100%;
        height: 80vh;
        background-position: -30% -5%;
        background-repeat: no-repeat;
        background-size: 120% auto;
        position:absolute;
    }

    .expo-front-out{
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        z-index: 0;
    }

    .day{

        position:relative;
        /*margin-top:0;*/
    }
}

/*.expo-back{*/


/*    margin-left:-100px;margin-top:-50px; width:97%*/
/*}*/

/*@media(max-width: 767px){*/
/*    .expo-back{*/


/*        margin-left:-100px;*/
/*        margin-top:-50px;*/
/*        width:auto;*/
/*        height:40vh;*/

/*    }*/

/*    .expo-back-out{*/
/*        height:auto;*/

/*        width:auto;*/
/*    }*/


/*}*/



#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: flex;
   background-color: #262626;
   z-index: 11199;
   text-align: center;
   justify-content:center;
  align-items:center;
}

#loading-image {
  position: absolute;

}