
.expo{
    height:90vh;
    /*margin-bottom:8px;*/
}


.expo-back-out{
    width: 100%;
    height: 80vh;
    background: url(../img/expo-back.png);
    background-position: -160% -50%;
    background-repeat: no-repeat;
    background-size: 95% auto;
    position:absolute;
}


.expo-front-out{
    width: 90%;
    height: 90%;
    background: url(../img/expo-front.png);
    background-position: 75% 55%;
    background-repeat: no-repeat;
    background-size: 35% auto;
    position: absolute;
    z-index: 0;
}


.day{

    /*position:absolute;*/
    margin-top:-20vh
}

.product-grid{
    margin-bottom: 8px !important;
    padding: 0px 4px !important;
}

.product-card{
    margin-top:8px;
    padding: 0 4px;
}

.product-card__item{
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 280px;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-card__item-grid{
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    min-height:320px;
    height: auto;
    /*padding: 30px 15px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
        background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.product-card__item-grid:hover{
    filter: grayscale(0.9);

}


.product-card__item-text{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(51, 51, 51, 0.6));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(51, 51, 51, 0.6));
    padding: 40px;
    color:#fff;
        overflow-y: auto;
    transition: 0.3s;
}

.product-card__item-text:hover{

    background: rgba(0,0,0,0.8);
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9));
}



.product-card__text{

    margin-top:60px;

}

.product-card:hover .product-card__text{
   transform:translateY(-80px);
    transition:all 200ms linear;
}


.townhall{
    min-height:80vh;
    height:auto;
    /*margin-bottom:8px;*/
}


.zerotoone{
    min-height:90vh;
    height:auto;
    /*margin-bottom:8px;*/
}



#zerotoone-inner{
    background: url(../img/zerotoone.png);
    width: 50%;
    left: 25%;
    margin-top: 0%;
    height: 40vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center!important;
    position: absolute;
}


.internship{
    min-height:60vh;
    height:auto;
    /*margin-bottom:8px;*/
    background: #000;  /* fallback for old browsers */
    position:relative;
    overflow:hidden;

}



.intern-back{
    width: 100%;
    height: 100%;
    background: url(../img/internship.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 75% auto;
    position:absolute;
}


#townhall-inner{
    background: url(../img/townhall.png);
    width:100%;
    height:40vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: absolute;
}


.manager-card{
    max-width:230px;
    width:100%;

}

.manager-card-img{

    border-radius:50%;
    max-width:120px;
    width:100%;
    box-shadow: 0 0.4rem 1rem rgba(39, 35, 36, 0.1);

}


#vid{
    height:100%;
}



.landing-outer{
    height:100vh;overflow: hidden;position:relative
}
.landing{
    position:absolute; height: 100%;background: linear-gradient(#0e0000b3, #17070796,#210d15a1);    background: -webkit-linear-gradient(#0e0000b3, #17070796,#210d15a1);
    display: flex;
    align-items: center;

}



/*.mobile{*/
/*    position:absolute; height: 100%;background: linear-gradient(#0e0000b3, #17070796,#210d15a1);    background: -webkit-linear-gradient(#0e0000b3, #17070796,#210d15a1);*/
/*    display:block;*/
/*    z-index:1;*/

/*}*/


.video-outer{
    width:100%;height:115%;position:relative;
    height: 130%;
    margin-top: -27%;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

#play-overlay{
    display:none !important;
}


.resize{
    height:60px;
}

@media(min-width:420px){

    .resize{
        height:80px;
    }
     #zerotoone-inner{
        margin-top:20%;
        left:50%;
        width:40%;

    }


}
@media(min-width:767px){

    #townhall-inner{
        height:80vh;
        width:45%;
        left:50%;


    }

    .resize{
        height:100px;
    }
    #zerotoone-inner{
        margin-top:8%;
        left:54%;
        width:40%;

    }

    .landing-outer{
        height:100%;overflow: hidden;position:relative
    }
    .video-outer{
        width:100%;height:0px;position:relative;padding-bottom:56.250%;
        margin-top:0;
    }


}

@media(min-width:1200px){

    #vid{
        height:auto;
        width:100%;
    }
    .resize{
        height:130px;
    }


}

.footer-inner{
    padding-top:22px;
    position:absolute;
}

.footer-para:hover{
    text-decoration:underline;
}

.footer-img{
    left: 0 !important;padding: 0;width:90%;
    margin-left:-80px;
}


.event-landing1{
    background-size: cover !important;
    background-position: center center !important;
}
@media(max-width:768px){


    .expo-back-out{
        width: 100%;
        height: 80vh;
        background-position: -30% -5%;
        background-repeat: no-repeat;
        background-size: 120% auto;
        position:absolute;
    }

    .expo-front-out{
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        z-index: 0;
    }

    .day{

        position:relative;
        /*margin-top:0;*/
    }
    .footer-img{

        display:none;
    }
    .footer-inner{
        padding-top:22px;
        position:relative;
    }


    .event-landing1{
        background-size: cover !important;
        background-position: 45% !important;
    }




}

/*.expo-back{*/


/*    margin-left:-100px;margin-top:-50px; width:97%*/
/*}*/

/*@media(max-width: 767px){*/
/*    .expo-back{*/


/*        margin-left:-100px;*/
/*        margin-top:-50px;*/
/*        width:auto;*/
/*        height:40vh;*/

/*    }*/

/*    .expo-back-out{*/
/*        height:auto;*/

/*        width:auto;*/
/*    }*/


/*}*/



#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: flex;
   background-color: #070c14;
   z-index: 11199;
   text-align: center;
   justify-content:center;
  align-items:center;
}

#loading-image {
  position: absolute;
  width:100%;
  height:auto;

}



/*Tee*/



/*sxsxs*/
.tee{

    background:url(../img/tee.jpg) 10%;
    height:180vh;
    background-size: cover !important;
    background-position: 35% !important;
}
.tee-inner{
    top:32%;
}

.tee-button{
    width:160px; background:#fff; border:1px #fff solid;
    padding-top:11px;
    padding-bottom:11px;
    color:#000 !important;
}

.tee-button:hover a{
    color:#bd2620 !important;
    background:#fff00 !important;


}
.tee-button a{
    font-size:16px;
    color:#000 !important;
}





@media(max-width:500px){


    .tee{

        background:url(../img/tee.jpg) 10%;
        height:70vh;
        background-size: cover !important;
        background-position: 3% !important;
    }
    .tee-button{
        width:120px; background:#fff; border:1px #fff solid;
        padding-top:10px;
        padding-bottom:10px;
        color:#000 !important;
    }
    .tee-button a{
        font-size:14px;
    }
    .tee-inner{
        top:26%;
    }


}



/*Event*/


.event-landing-inner{

    width:100%;
    height:100%;
    display:flex;
    align-items:center;

}



.intern-model{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1004;
    top: 0;
    left: 0;
    background: #000000de;
    overflow-y: hidden;
}


.caption{
  background: -webkit-gradient(50deg,#5ebaf6,#2c83cc);
  background: linear-gradient(50deg,#5ebaf6,#2c83cc 90%);
  padding-left:10px;
}


.core-container{
    background:url(../img/1920x1080/footerback.png);
    background-position:center;
    background-attachment:fixed;
    background-repeat:non-repeat
}


.core{
    width:200px !important;
    margin-left:50px;
  filter:grayscale(40%) !important;
  border-radius:50%;
  box-shadow: 0 0.4rem 1rem rgba(39, 35, 36, 0.1);
}

.indicate{

    font-size:30px;
    color: #fff;
    width: 20px;
    padding-top:50px;
    margin-left: calc(50% - 10px);

}