
.expo{
    height:90vh;
    /*margin-bottom:8px;*/
}


.expo-back-out{
    width: 100%;
    height: 80vh;
    background: url(../img/expo-back.png);
    background-position: -160% -50%;
    background-repeat: no-repeat;
    background-size: 95% auto;
    position:absolute;
}


.expo-front-out{
    width: 90%;
    height: 90%;
    background: url(../img/expo-front.png);
    background-position: 75% 55%;
    background-repeat: no-repeat;
    background-size: 35% auto;
    position: absolute;
    z-index: 0;
}


.day{

    /*position:absolute;*/
    margin-top:-20vh
}

.product-grid{
    margin-bottom: 8px !important;
    padding: 0px 4px !important;
}

.product-card{
    margin-top:8px;
    padding: 0 4px;
}

.product-card__item{
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 280px;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-card__item-grid{
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    min-height:320px;
    height: auto;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
        background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.product-card__item-grid:hover{
    filter: grayscale(0.9);

}

.product-card__text{

    margin-top:60px;

}

.product-card:hover .product-card__text{
   transform:translateY(-80px);
    transition:all 200ms linear;
}


.townhall{
    min-height:80vh;
    height:auto;
    /*margin-bottom:8px;*/
}


.zerotoone{
    min-height:90vh;
    height:auto;
    /*margin-bottom:8px;*/
}



#zerotoone-inner{
    background: url(../img/zerotoone.png);
    width: 50%;
    left: 25%;
    margin-top: 0%;
    height: 40vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center!important;
    position: absolute;
}


.internship{
    min-height:60vh;
    height:auto;
    /*margin-bottom:8px;*/
    background: #000;  /* fallback for old browsers */
    position:relative;
    overflow:hidden;

}



.intern-back{
    width: 100%;
    height: 100%;
    background: url(../img/internship.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 75% auto;
    position:absolute;
}


#townhall-inner{
    background: url(../img/townhall.png);
    width:100%;
    height:40vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: absolute;
}


.manager-card{
    max-width:230px;
    width:100%;

}

.manager-card-img{

    border-radius:50%;
    max-width:120px;
    width:100%;
    box-shadow: 0 0.4rem 1rem rgba(39, 35, 36, 0.1);

}


#vid{
    height:100%;
    /*background:url(../img/alt_langing.png)!important;*/
}

.landing{
    position:absolute; height: 100%;background: linear-gradient(#0e0000b3, #17070796,#210d15a1);    background: -webkit-linear-gradient(#0e0000b3, #17070796,#210d15a1);
    display: flex;
    align-items: center;

}

.resize{
    height:60px;
}

@media(min-width:420px){

    .resize{
        height:80px;
    }
     #zerotoone-inner{
        margin-top:20%;
        left:50%;
        width:40%;

    }


}
@media(min-width:768px){

    #townhall-inner{
        height:80vh;
        width:45%;
        left:50%;

    }

    .resize{
        height:100px;
    }
    #zerotoone-inner{
        margin-top:8%;
        left:54%;
        width:40%;

    }


}

@media(min-width:1200px){

    #vid{
        height:auto;
        width:100%;
    }
    .resize{
        height:130px;
    }


}

.footer-inner{
    padding-top:22px;
    position:absolute;
}

.footer-para:hover{
    text-decoration:underline;
}

.footer-img{
    left: 0 !important;padding: 0;width:90%;
    margin-left:-80px;
}
@media(max-width:768px){


    .expo-back-out{
        width: 100%;
        height: 80vh;
        background-position: -30% -5%;
        background-repeat: no-repeat;
        background-size: 120% auto;
        position:absolute;
    }

    .expo-front-out{
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        z-index: 0;
    }

    .day{

        position:relative;
        /*margin-top:0;*/
    }
    .footer-img{

        display:none;
    }
    .footer-inner{
        padding-top:22px;
        position:relative;
    }




}

/*.expo-back{*/


/*    margin-left:-100px;margin-top:-50px; width:97%*/
/*}*/

/*@media(max-width: 767px){*/
/*    .expo-back{*/


/*        margin-left:-100px;*/
/*        margin-top:-50px;*/
/*        width:auto;*/
/*        height:40vh;*/

/*    }*/

/*    .expo-back-out{*/
/*        height:auto;*/

/*        width:auto;*/
/*    }*/


/*}*/



#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: flex;
   background-color: #070c14;
   z-index: 11199;
   text-align: center;
   justify-content:center;
  align-items:center;
}

#loading-image {
  position: absolute;
  width:100%;
  height:auto;

}


